
<mat-toolbar color="primary" class="fixed-header mat-elevation-z10">


  <mat-toolbar-row>
   <button mat-button color="white">
     <img class="logo" src="../assets/images/angular-white-transparent.svg">
     <strong>Restaurants</strong>
   </button>
<span class="fill-space"></span>
<div>
   <a href="https://github.com/christo707/angular-quiz" target="_blank" mat-button>
     <img class="logo" src="../assets/images/github-circle-white-transparent.svg">
     <span><strong> GitHub</strong></span>
 </a>

 </div>
  </mat-toolbar-row>
