<app-navbar></app-navbar>


<mat-toolbar color="primary" class="restaurant-toolbar">
  <mat-toolbar-row class="desc">
    <span >Restaurants </span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
<div style="min-height: 80%;">

  <div class="loader-restaurant-parent" [hidden]="!loading">
    <img class="loader-restaurant-img" src="/assets/images/loader.gif">
  </div>

<mat-card  class="restaurant-card mat-elevation-z8">
  <div class="header-card ">
    <div class="card-container-center">
      <h2>Restaurants</h2>
    </div>
  </div>
  <mat-card-content>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Start searching for a Restaurant by id or name or Cuisines">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row">
             <span *ngIf="row.id==''"> - </span>
          <span *ngIf="row.id!=''"> {{row.id}} </span> </mat-cell>
        </ng-container>


        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.name==''">-</span>
            <span *ngIf="row.name!=''">{{row.name}}</span>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="cuisines">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cuisines </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.cuisines==''">-</span>
            <span *ngIf="row.cuisines!=''">{{row.cuisines}}</span>
           </mat-cell>
        </ng-container>


        <ng-container matColumnDef="rating">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
          <mat-cell *matCellDef="let row" >
            <span *ngIf="row.rating==''">-</span>
            <span [style.color]="getColor(row.color)" *ngIf="row.rating!=''">{{row.rating}}</span>
             </mat-cell>
        </ng-container>

        <ng-container matColumnDef="avg">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cost per 2 </mat-header-cell>
          <mat-cell *matCellDef="let row" >
            <span *ngIf="row.avg==''">-</span>
            <span *ngIf="row.avg!=''">{{row.avg}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Details </mat-header-cell>
          <mat-cell *matCellDef="let row" >
             <button mat-button class="option-button" (click)="viewRow(row);">{{row.details}}</button> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>


    <!-- Copyright 2018 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->

  </mat-card-content>
</mat-card>
</div>
<app-footer></app-footer>
